<ion-menu [content]="content" [swipeEnabled]="false" (ionOpen)="chkCondition()">
  <ion-header> </ion-header>
  <ion-content id="outerNew">
    <div class="headProf" #headerTag ion-fixed>
      <img *ngIf="!fileUrl" src="assets/imgs/dummy-user-img.png" />
      <img *ngIf="fileUrl" src="{{fileUrl}}" />
      <div>
        <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
        <p style="font-size: 12px">
          <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}
        </p>
        <p style="font-size: 12px">
          <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}
        </p>
      </div>
    </div>
    <!-- <ion-scroll style="width:100%; height:100vh" scrollY="true"> -->
    <div #scrollableTag>
      <side-menu-content style="width:100%; height:100vh" [settings]="sideMenuSettings" [options]="options"
        (change)="onOptionSelected($event)"></side-menu-content>
    </div>
    <!-- </ion-scroll> -->

  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>